<section>
    <div class="container">
        <div class="row mt-4">
            <a href="/admin/addProduct" class="btn btn-success ml-auto">Add Product</a>
        </div>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Title
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <th scope="row">1</th>
                    <td>{{this.Name}}</td>
                    <td>{{this.Category}}</td>
                    <td>{{this.Description}}</td>
                    <td><img style="height:50px" src="/productImages/{{this._id}}.jpg" alt="{{this.name}}"></td>
                    <td><a class="btn btn-primary" href="/admin/editProduct/{{this._id}}">Edit</a>
                    <a class="btn btn-danger" href="/admin/deleteProduct/{{this._id}}" onclick="return confirm('Are you sure to delete {{this.name}}')">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>